certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
dotenv==0.9.9
idna==3.11
iodd-parser==0.1.1
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
python-dotenv==1.2.2
requests==2.33.1
ruff==0.15.8
toposort==1.10
typing_extensions==4.15.0
urllib3==2.6.3
xsdata==26.2
